<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>짝수/홀수 판정</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="container">
        <h2>짝수/홀수 판정</h2>
        <form action="" method="post">
            {% if error_msg  %}
                <p style="color:red">{{ error_msg }}</p>
            {% endif %}
            <p>
                <label>숫자 입력</label>
                <input type="text" name="num">
                <input type="submit" value="전송">
            </p>
        </form>
    </div>
</body>
</html>