<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--    urlfor(경로) 함수 사용-->
</head>
<body>
    <div id="container">
        <h2>loop.index 예제</h2>
        <ul>
            {% for item in items %}
                {% if loop.index < 3 %}
                <li> {{ loop.index }} - {{ item }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- loop.index -> 1부터 시작
             loop.index0 -> 0부터 시작 -->
    </div>
</body>
</html>